{% schema %}
  {
    "name": "Collecion Tab",
    "settings": []
  }
{% endschema %}
<div class="container">
	<ul class="container--tabs">
		<li class="tab tabs--active">Tab 1</li>
		<li class="tab">Tab 2</li>
		<li class="tab">Tab 3</li>
	</ul>
<div class="c-title--decoration">
  {% for collection in collections.productlist limit: 5000 %}
    {%- if collection.handle contains 'new-20' -%}
      <h1>{{ collection.title }}</h1>
    {%- endif -%}
  {% endfor %}
</div>
	<div class="container--content">
		<div class="content content--active">
          <h1>This is</h1>
		</div>
		<div class="content">
			<h1>This is tab 2</h1>
		</div>
		<div class="content">
			<h1>This is tab 3</h1>
		</div>
	</div>
</div>
{% javascript %}
const tabs = document.querySelectorAll(".tab");
const contents = document.querySelectorAll(".content");

for (let i = 0; i < tabs.length; i++) {
	tabs[i].addEventListener("click", () => {
		for (let j = 0; j < contents.length; j++) {
			contents[j].classList.remove("content--active");
		}
		for (let jj = 0; jj < tabs.length; jj++) {
			tabs[jj].classList.remove("tabs--active");
		}
		contents[i].classList.add("content--active");
		tabs[i].classList.add("tabs--active");
	});
}

{% endjavascript %}