<section class="filters">
  <ul class="filters-content">
    <button class="filters__button is-active" data-target="#projects">
      Projects
    </button>
    <button class="filters__button" data-target="#skills">
      Skills
    </button>
    <button class="filters__button" data-target="#experience">
      Experience
    </button>
  </ul>

  <div>
    <div data-content class="is-active" id="projects">
      <h2>Project</h2>
    </div>

    <div data-content id="skills">
      <h2>Skills</h2>
    </div>
    <div data-content id="experience">
      <h2>Experience</h2>
    </div>
  </div>
</section>